{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% if FLATTR_USERNAME %}
	{% block flattr %}
		<link rel="payment" href="https://flattr.com/submit/auto?url=/{{article.url}}&amp;title={{article.title}}&amp;user_id={{FLATTR_USERNAME}}&amp;category=text" type="text/html" />
	{% endblock %}

	{% block flattr_js %}
		$('#flattr').click(function(){
			$.getScript('//api.flattr.com/js/0.6/load.js?mode=auto', function() {
				FlattrLoader.render({
					'uid': '{{FLATTR_USERNAME}}',
					'url': document.URL,
					'title': document.title
				}, 'flattr', 'replace');
			});
			$(this).hide();
		});
	{% endblock %}
{% endif %}

{% if TWITTER_USERNAME %}
{% block twitter_js %}
	$('#tweeter').click(function(){
		$.getScript('//platform.twitter.com/widgets.js');
		$(this).after('<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="{{TWITTER_USERNAME}}">Tweeter</a>')
		$(this).hide();
	});
{% endblock %}
{% endif %}

{% if GOOGLE_SHARE %}
{% block google_js %}
	$('#google').click(function(){
		$(this).after('<div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-href="{{SITEURL}}/{{article.url}}"></div>');
		window.___gcfg = {lang: 'fr'};
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(po, s);
		$(this).hide();
	});
{% endblock %}
{% endif %}

{% block content %}
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title">
        <a href="/{{article.url}}" rel="bookmark"
           title="Permalink to {{article.title|striptags}}">{{ article.title }}</a></h1>
		<p>
			{% if FLATTR_USERNAME %}
			<a id="flattr" title="2 clics pour Flatter" href="#" data-container="body" data-toggle="popover" data-placement="left" rel="popover" data-content="Pour protéger vos données, le bouton Flattr ne sera actif qu'après un premier clic. Le deuxième clic vous permettra de flatter cet article."><img src="/theme/images/social/flattr.png" alt=""></a>
			{% endif %}
			{% if TWITTER_USERNAME %}
			<a id="tweeter" title="2 clics pour Tweeter" href="#" data-container="body" data-toggle="popover" data-placement="left" rel="popover" data-content="Pour protéger vos données, le bouton Tweeter ne sera actif qu'après un premier clic. Le deuxième clic vous permettra de tweeter cet article."><img src="/theme/images/social/twitter.png" alt=""></a>
			{% endif %}
			{% if GOOGLE_SHARE %}
			<a id="google" title="2 clics pour Googler" href="#" data-container="body" data-toggle="popover" data-placement="left" rel="popover" data-content="Pour protéger vos données, le bouton Google ne sera actif qu'après un premier clic. Le deuxième clic vous permettra de partager cet article."><img src="/theme/images/social/google.png" alt=""></a>
			{% endif %}
		</p>
    </header>

    <div class="entry-content">
      {% include 'article_infos.html' %}
      {{ article.content }}
    </div><!-- /.entry-content -->
    {% if ISSO_SITENAME %}
    <div class="comments">
      <h2>Comments !</h2>
      <script data-isso="{{ISSO_SITENAME}}/" src="{{ISSO_SITENAME}}/js/embed.min.js"></script>
      <section id="isso-thread"></section>
    </div>
    {% endif %}

  </article>
</section>
{% endblock %}
