<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{{SITENAME}}{%endblock%}</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/theme/css/{{CSS_FILE}}" type="text/css" />
	{% if FEED_ALL_ATOM %}
	<link href="/{{FEED_ALL_ATOM}}" type="application/atom+xml" rel="alternate" title="{{SITENAME}} Atom Feed" />
	{% endif %}
	{% if FEED_ALL_RSS %}
	<link href="/{{FEED_ALL_RSS}}" type="application/rss+xml" rel="alternate" title="{{SITENAME}} RSS Feed" />
	{% endif %}
	{% block flattr %}
	<link rel="payment" href="https://flattr.com/submit/auto?url={{SITEURL}}&amp;title={{SITENAME}}&amp;user_id={{FLATTR_USERNAME}}" type="text/html" />
	{% endblock %}

	<script src="/theme/js/jquery.js"></script>
	<script src="/theme/js/bootstrap.js"></script>
	<link rel="stylesheet" href="/theme/css/bootstrap.css" type="text/css" />
	<script type="text/javascript">
		$(function() {
			$('a[rel="popover"]').popover({
				html: true,
				trigger: 'hover'
			});
			{% block flattr_js %}{% endblock %}
			{% block twitter_js %}{% endblock %}
			{% block google_js %}{% endblock %}
		});
	</script>
	{% if LIVERELOAD %}
	<script src="http://localhost:35729/livereload.js?snipver=1"></script>
	{% endif %}
</head>

<body id="index" class="home">
{% include 'github.html' %}
        <header id="banner" class="body">
                <h1><a href="/">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
				<nav>
					<ul>
					{% for title, link in MENUITEMS %}
						<li><a href="{{ link }}">{{ title }}</a></li>
					{% endfor %}
					{% if DISPLAY_PAGES_ON_MENU %}
					{% for page in PAGES %}
						<li><a href="/{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
					{% endif %}
					{% for cat, null in categories %}
						<li {% if cat == category %}class="active"{% endif %}><a href="/{{ cat.url }}">{{ cat }}</a></li>
					{% endfor %}
					</ul>
				</nav>
        </header><!-- /#banner -->
        {% block content %}
        {% endblock %}
        <section id="extras" class="body">
        {% if LINKS %}
                <div class="blogroll">
                        <h2>blogroll</h2>
                        <ul>
                        {% for name, link, ico in LINKS %}
                            <li><a href="{{ link }}"><img src="{{ ico }}"/>{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.blogroll -->
        {% endif %}
        {% if SOCIAL %}
                <div class="social">
                        <h2>social</h2>
                        <ul>
                            <li><a href="/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
                            {% if FEED_ALL_RSS %}
                            <li><a href="/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
                            {% endif %}

                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.social -->
        {% endif %}
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
					Le contenu de ce blog est publié sous licence <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="/theme/images/icons/cc-by-nc-sa.png" alt="CC-BY-NC-SA"></a> (sauf mention contraire).<br/>
					Supportez ce blog : <img src="/theme/images/icons/bitcoin.png" alt="bitcoin"> <a href="bitcoin:1b1ogUCAnRG9KQYgatVZvECz8TWemp4FH">1b1ogUCAnRG9KQYgatVZvECz8TWemp4FH</a> ou
					<a href="https://flattr.com/thing/e048787e1da997c085ffaf8d70c15a1e"><img src="/theme/images/icons/flattr.png" alt="Flattr"></a>
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->
{% include 'piwik.html' %}
</body>
</html>
