{% if FLATTR_USERNAME %}
<script type="text/javascript">
/* <![CDATA[ */
(function() {
    var s = document.createElement('script');
    var t = document.getElementsByTagName('script')[0];

    s.type = 'text/javascript';
    s.async = true;
    s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';

    t.parentNode.insertBefore(s, t);
 })();
/* ]]> */
</script>
<a class="FlattrButton"
	data-flattr-uid="{{FLATTR_USERNAME}}"
	data-flattr-url="{{SITEURL}}/{{article.url}}"
	data-flattr-title="{{article.title}}"
	data-flattr-category="text"
	data-flattr-button="compact"
	href="https://flattr.com/submit/auto?
		user_id={{FLATTR_USERNAME}}&
		url={{SITEURL}}/{{article.url}}&
		title={{article.title}}&
		category=text">
		<img src="https://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" />
	</a>
{% endif %}
