{% if PIWIK_URL and PIWIK_SITE_ID %}
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(["trackPageView"]);
		_paq.push(["enableLinkTracking"]);

		(function() {
			var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ PIWIK_URL }}/";
			_paq.push(["setTrackerUrl", u+"js/"]);
			_paq.push(["setSiteId", "{{ PIWIK_SITE_ID }}"]);
			var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
			g.defer=true; g.async=true; g.src=u+"js/"; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<noscript>
		<p><img src="//{{ PIWIK_URL }}/js/?idsite={{ PIWIK_SITE_ID }}&amp;rec=1" style="border:0" alt="" /></p>
	</noscript>
{% endif %}