<footer>
	<section id="about">
		Le contenu de ce blog est publié sous licence
		<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="CC-BY-SA" src="/assets/images/cc-by-nc-sa.png" /></a>
		<br/>
		Supportez ce blog :
		<a href="bitcoin:1b1ogUCAnRG9KQYgatVZvECz8TWemp4FH"><img class="margin" alt="BitCoin" src="/assets/images/bitcoin.png" />1b1ogUCAnRG9KQYgatVZvECz8TWemp4FH</a>
		ou
		<a href="https://flattr.com/thing/3129238/NullPointerException" target="_blank"><img alt="Flattr" src="/assets/images/social/flattr.png" /></a>
	</section>
	<section id="social">
		<img alt="HTML5 & CSS3 valid" src="/assets/images/valid.png" />
		<a href="https://status.imirhil.fr/" target="_blank"><img alt="GNU/Social" src="/assets/images/social/statusnet.png" />GNU/Social</a>
		<a href="https://twitter.com/aeris22/" target="_blank"><img alt="Twitter" src="/assets/images/social/twitter.png" />Twitter</a>
		<a href="https://github.com/aeris" target="_blank"><img alt="GitHub" src="/assets/images/social/github.png" />GitHub</a>
		<a href="https://bitbucket.com/aeris" target="_blank"><img alt="BitBucket" src="/assets/images/social/bitbucket.png" />BitBucket</a>
	</section>
	<section>
		Ce site est aussi accessible en service caché Tor :
		<a href="http://blog.aeriszyr4wbpvuo2.onion/"><img class="margin" alt="Tor" src="/assets/images/tor.png" />blog.aeriszyr4wbpvuo2.onion</a>
	</section>
</footer>
