/* Oui je sais, je suis nul en design... :) */

$font-family: 'PT Sans Narrow', sans-serif;
$font-family-monospace: 'PT Mono', monospace;

$primary-bg: #eee;

$text-color: #444;
$link-color: #000;
$link-color-hover: darken($link-color, 25%);

$color-red: #C74451;
$color-blue: #4451C7;
$color-green: #51C744;

$font-size-base: 20px;

$body-width: 960px;
$article-width: 650px;
//$article-width: $body-width;
