---
layout: default
---
<section id="post">
	<header>
		<h1>{{ page.title }} <time>{{ page.date | date: "%Y-%m-%d" }}</time></h1>

		<span id="share">
			<a id="flattr" title="2 clics pour Flatter" href="#"
			   data-container="body" data-toggle="popover" data-placement="left"
			   data-content="Pour protéger vos données, le bouton Flattr ne sera actif qu'après un premier clic. Le deuxième clic vous permettra de flatter cet article.">
				<img src="/assets/images/share/flattr.png" alt="Flattr" />
			</a>
			<a id="tweeter" title="2 clics pour Tweeter" href="#"
			   data-container="body" data-toggle="popover" data-placement="left"
			   data-content="Pour protéger vos données, le bouton Tweeter ne sera actif qu'après un premier clic. Le deuxième clic vous permettra de tweeter cet article.">
				<img src="/assets/images/share/twitter.png" alt="Twitter" />
			</a>
			<a id="google" title="2 clics pour Googler" href="#"
			   data-container="body" data-toggle="popover" data-placement="left"
			   data-content="Pour protéger vos données, le bouton Google ne sera actif qu'après un premier clic. Le deuxième clic vous permettra de partager cet article.">
				<img src="/assets/images/share/google.png" alt="Google" />
			</a>
		</span>
	</header>
	<article>
		{{ content }}
	</article>
	{% if site.isso %}
	<div class="comments">
		<h2>Comments !</h2>
		<script data-isso="{{ site.isso }}/" data-isso-max-comments-top="inf" data-isso-max-comments-nested="inf" src="{{site.isso}}/js/embed.min.js"></script>
		<section id="isso-thread"></section>
	</div>
	{% endif %}
</section>
